@charset "UTF-8";

/*RESET BÁSICO*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', system-ui, -apple-system, Segoe UI, sans-serif;
    background: linear-gradient(to right, #121111, #231E15);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*CAIXA*/
.login-box{
    background-color: #1d1d24;
    max-width: 420px;
    padding: 40px;
    width: 100%;
    border-radius: 10px;
    border: #A49FAA;
    box-shadow: 0px 10px 40px;
}
/*logo*/
.logo{
    text-align: center;
}
.logo img{
    max-width: 180px;
    width: 100%;
    height: auto;
}

.bloqueio{
    color: white;
    font-family: 'Inter', system-ui, -apple-system, Segoe UI, sans-serif;
    text-align: center;
    margin-top: 10px;
}
.entre{
    text-align: center;
    color: #A49FAA;
    margin-top: 6px;
}
.senha{
    margin-top: 40px;
    color: #A49FAA;
    font-size: small;
}
.entrar{    
    font-family: 'Inter', system-ui, -apple-system, Segoe UI, sans-serif;
    color: black;
    background-color: #BC9038;
    width: 100%;
    height: 40px;
    margin-top: 25px;
    border: rgb(188, 144, 56);
    box-shadow:-1px  1px 2px 2px rgb(188, 144, 56);
    border-radius: 5px;
}
.entrar:hover{
    transform: translateY(2px);
    box-shadow: 0 0 12px #E49310;
}

.barra{
    width: 100%;
    height: 45px;
    margin-top: 12px;
    background-color: #15151A;
    border: #2A2A33;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.barra:hover{
    
    box-shadow: 0 0 12px #E49310;
}
.box-dica{
    background-color: #15151A;
    color: #A49FAA;
    font-family: 'Inter', system-ui, -apple-system, Segoe UI, sans-serif;
    font-size: small;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.destaque{
    background-color: black;
    color: #BC9038;
}
.volta{
    text-decoration: none;
    color: #2A2A33;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}
.volta:hover{
    color: #BC9038;
}
