@charset "UTF-8";

/* RESET BÁSICO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
body{
    background-color: #0D0D0F;
    color: #9BA8A5;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

/* HEADER (FIXO AO SCROLL) */
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0D0D0F;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 40px;
    border-bottom: 1px solid rgba(155, 168, 165, 0.2);
    flex-wrap: wrap;
}

/* NAV */
nav{
    display: flex;
    align-items: center;
    width: 100%;
}

/* LOGO */
.logo{
    max-width: 150px;
    height: auto;
}

/* MENU CENTRO */
.menu-centro{
    display: flex;
    gap: 25px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* MENU DIREITA */
.menu-direita{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* LINKS */
.links{
    color: #9BA8A5;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.links:hover{
    color: #E49310;
}

/* BOTÃO */
.botaomenu{
    background: linear-gradient(135deg, #D2A448, #B88C35);
    color: #1A1208;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.botaomenu:hover{
    transform: scale(1.05);
}

/* SOBRE */
.segundo{
    padding: 50px 20px;
}

.sobre{
    text-align: center;
    color: #D4A64A;
    font-size: 15px;
}

.lema{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 40px;
}

/* CARDS SOBRE */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

.card{
    background-color: #1D1D24;
    border-radius: 20px;
    padding: 30px;
    width: 280px;
    text-align: center;
    border: 1px solid #25252d;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 12px #E49310;
}

.sobre-icon{
    font-size: 40px;
    margin-bottom: 30px;
}

.titulo-card-sobre{
    color: #D4A64A;
}

/* SERVIÇOS */
.terceiro{
    background-color: #15151A;
    padding: 50px 20px;
}

.stitulo{
    text-align: center;
    color: #D4A64A;
    font-size: 15px;
}

.sescolha{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* GRID SERVIÇOS */
.scards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARD SERVIÇOS */
.scard{
    background-color: #1D1D24;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #25252d;
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
}

.scard:hover{
    transform: translateY(-6px);
    box-shadow: 0 0 8px #E49310;
}

/* TOPO DO CARD (SERVIÇO + DESCRIÇÃO) */
.servico-descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
    margin-bottom: 15px;
    min-height: 70px;
    justify-content: center;
}

.servico-descricao h3{
    color: white;
    font-size: 18px;
    margin: 0;
}

.servico-descricao p{
    font-size: 13px;
    color: #9BA8A5;
    margin: 0;
}

/* LINHA + RODAPÉ DO CARD */
.info-servico{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    border-top: 1px solid rgba(155, 168, 165, 0.2);
}

/* TEMPO E VALOR */
.tempo{
    font-size: 12px;
}

.valor{
    color: #D4A64A;
    font-size: 18px;
    font-weight: bold;
}

/* GALERIA */
.quarto{
    padding: 50px 20px;
}

.titulo-galeria{
    text-align: center;
    color: #D4A64A;
}

.trabalhos-recentes{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.galeria-fotos{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 80px;
}

.galeria-fotos img{
    width: 100%;
    max-width: 330px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.galeria-fotos img:hover{
    transform: scale(1.05);
}

/* CONTATO */
.quinto{
    background-color: #15151A;
    padding: 50px 20px;
}

.titulo-contato{
    text-align: center;
    color: #D4A64A;
}

.reserve{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto-motivador{
    text-align: center;
}
/* Agendamento e Reserva de horário */
.container-agendamento{
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 650px;
    margin: 40px auto;
    background-color: #1D1D24;
    border-radius: 15px;
    box-shadow: 0px 0px 20px  #0D0D0F;
}

.menu-agendamento{
    text-align: center;
    display: flex;
    margin: 20px 40px;
    gap: 40px;
}   

.item-agendamento{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.arredondar{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #0D0D0F;
    border: 1px solid #1D1D24;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}
.arredondar::after{
    content: "";
}
/* FOOTER */
footer{
    text-align: center;
    padding: 20px;
    border-top: 1px solid #333;
}

footer a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 900px){

    header{
        flex-direction: column;
        text-align: center;
    }

    nav{
        flex-direction: column;
        gap: 15px;
    }

    .menu-centro,
    .menu-direita{
        justify-content: center;
    }

    .lema{
        font-size: 24px;
    }
}
